    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Products</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="item-tbody">
            <?php echo $this->getItemsSummaryQty();
            $formator = Mage::helper('checkout');
            $items = $this->getItems();
            foreach ($items as $item):
                ?>
                <tr>

                    <!--                    <input type="hidden" name="item[-->
                    <?php //echo $item->getProduct()->getId()
                    ?><!--][use_discount]" value="1"/>-->
                    <td>
<!--                        <small>--><?php
//                            echo $item->getProduct()->getSku() ?><!--</small>-->
                        <?php echo $item->getProduct()->getName() ?>
                    </td>
                    <td>

                        <input type="text" class="form-control qty-item text-right" name="item[<?php echo $item->getId() ?>][qty]"
                               onchange="updateQtyItem();" id=""
                               value="<?php
                               $qty = 0;
                               if (($children = $item->getChildren()) && $item->isShipSeparately()) {
                                   foreach ($children as $child) {
                                       $qty += $child->getQty() * $item->getQty();
                                   }
                               } else {
                                   $qty += $item->getQty();
                               }
                               echo $qty;
                               ?>">
                    </td>
                    <td><?php echo $formator->formatPrice($item->getProduct()->getPrice()); ?></td>
                    <td>
                        <?php if ($this->helper('tax')->displayCartPriceExclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                            <?php if ($item->getIsPriceInclTax()): ?>
                                <?php $_rowTotalLessDiscount = $item->getRowTotalInclTax() - $item->getDiscountAmount()
                                    - ($item->getTaxAmount() - Mage::helper('weee')->getTotalRowTaxAppliedForWeeeTax($item)) ?>
                            <?php else: ?>
                                <?php $_rowTotalLessDiscount = $item->getRowTotal() - $item->getDiscountAmount() ?>
                            <?php endif; ?>

                            <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                <span class="label"><?php echo $this->__('Excl. Tax'); ?>:</span>
                            <?php endif; ?>
                            <?php if (Mage::helper('weee')->typeOfDisplay($item, array(0, 1, 4), 'sales')): ?>
                                <?php echo $this->formatPrice(max(0, $_rowTotalLessDiscount + $item->getWeeeTaxAppliedRowAmount() + $item->getWeeeTaxRowDisposition())); ?>
                            <?php else: ?>
                                <?php echo $this->formatPrice(max(0, $_rowTotalLessDiscount)) ?>
                            <?php endif; ?>

                            <?php if (Mage::helper('weee')->getApplied($item)): ?>
                                <br/>
                                <?php if (Mage::helper('weee')->typeOfDisplay($item, 1, 'sales')): ?>
                                    <small>
                                        <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                                            <span class="nobr"><?php echo $tax['title']; ?>
                                                : <?php echo $this->formatPrice($tax['row_amount'], true, true); ?></span>
                                            <br/>
                                        <?php endforeach; ?>
                                    </small>
                                <?php elseif (Mage::helper('weee')->typeOfDisplay($item, 2, 'sales')): ?>
                                    <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                                        <span class="nobr"><small><?php echo $tax['title']; ?>
                                                : <?php echo $this->formatPrice($tax['row_amount_incl_tax'], true, true); ?></small></span>
                                        <br/>
                                    <?php endforeach; ?>
                                <?php elseif (Mage::helper('weee')->typeOfDisplay($item, 4, 'sales')): ?>
                                    <small>
                                        <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                                            <span class="nobr"><?php echo $tax['title']; ?>
                                                : <?php echo $this->formatPrice($tax['row_amount_incl_tax'], true, true); ?></span>
                                            <br/>
                                        <?php endforeach; ?>
                                    </small>
                                <?php endif; ?>

                                <?php if (Mage::helper('weee')->typeOfDisplay($item, 2, 'sales')): ?>
                                    <br/>
                                    <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>
                                        :<br/> <?php echo $this->formatPrice($item->getCalculationPrice() + $item->getWeeeTaxAppliedRowAmount() + $item->getWeeeTaxRowDisposition()); ?></span>
                                <?php endif; ?>
                            <?php endif; ?>
                        <?php endif; ?>


                        <?php if ($this->helper('tax')->displayCartPriceInclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                            <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                <br/><span class="label"><?php echo $this->__('Incl. Tax'); ?>:</span>
                            <?php endif; ?>

                            <?php $_incl = $this->helper('checkout')->getSubtotalInclTax($item) - $item->getDiscountTaxCompensation() - $item->getDiscountAmount(); ?>

                            <?php if (Mage::helper('weee')->typeOfDisplay($item, array(0, 1, 4), 'sales')): ?>
                                <?php echo $this->formatPrice($_incl + Mage::helper('weee')->getRowWeeeTaxInclTax($item)); ?>
                            <?php else: ?>
                                <?php echo $this->formatPrice($_incl - $item->getWeeeTaxRowDisposition()) ?>
                            <?php endif; ?>
                            <?php if (Mage::helper('weee')->getApplied($item)): ?>
                                <br/>
                                <?php if (Mage::helper('weee')->typeOfDisplay($item, 1, 'sales')): ?>
                                    <small>
                                        <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                                            <span class="nobr"><?php echo $tax['title']; ?>
                                                : <?php echo $this->formatPrice($tax['row_amount_incl_tax'], true, true); ?></span>
                                            <br/>
                                        <?php endforeach; ?>
                                    </small>
                                <?php elseif (Mage::helper('weee')->typeOfDisplay($item, 2, 'sales')): ?>
                                    <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                                        <span class="nobr"><small><?php echo $tax['title']; ?>
                                                : <?php echo $this->formatPrice($tax['row_amount_incl_tax'], true, true); ?></small></span>
                                        <br/>
                                    <?php endforeach; ?>
                                <?php elseif (Mage::helper('weee')->typeOfDisplay($item, 4, 'sales')): ?>
                                    <small>
                                        <?php foreach (Mage::helper('weee')->getApplied($item) as $tax): ?>
                                            <span class="nobr"><?php echo $tax['title']; ?>
                                                : <?php echo $this->formatPrice($tax['row_amount_incl_tax'], true, true); ?></span>
                                            <br/>
                                        <?php endforeach; ?>
                                    </small>
                                <?php endif; ?>

                                <?php if (Mage::helper('weee')->typeOfDisplay($item, 2, 'sales')): ?>
                                    <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>
                                        :<br/> <?php echo $this->formatPrice($_incl + Mage::helper('weee')->getRowWeeeTaxInclTax($item)); ?></span>
                                <?php endif; ?>
                            <?php endif; ?>
                        <?php endif; ?>

                    </td>
                    <td>
                        <input type="hidden" value="" name="item[<?php echo $item->getId(); ?>][action]"/>
                        <button type="button" class="btn btn-primary btn-xs"
                                onclick="removeProduct(<?php echo $item->getId(); ?>);">
                            <span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>


            <?php endforeach ?>

            <!--            <tr>-->
            <!--                <td colspan="2">Item Quantity</td>-->
            <!--                <td>--><?php //echo $this->getItemsQty(); ?>
            <!--                </td>-->
            <!--                <td>Discount</td>-->
            <!--                <td></td>-->
            <!--            </tr>-->
            <tr>
                <td >Item</td>
                <td><?php echo $this->getItemsQty() ?>
                </td>
                <td>Subtotal</td>
                <td><?php echo $formator->formatPrice($this->getSubtotal()); ?>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
