<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-2">
            <ul class="nav navbar-nav col-lg-4">
                <li class="active"><a href="#">XPOS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li id="stock" class="dropdown">
                    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                       aria-expanded="true">
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <?php echo $this->getChildHtml('comment'); ?>
                    </ul>
                </li>
                <?php echo $this->getChildHtml('button'); ?>
            </ul>
        </div>
    </div>
    <!-- /.navbar-collapse -->
</nav>
