<config>
    <modules>
        <SM_XOrder>
            <version>1.0</version>
        </SM_XOrder>
    </modules>
    <global>
        <models>
            <xorder>
                <class>SM_XOrder_Model</class>
            </xorder>
        </models>
        <blocks>
            <xorder>
                <class>SM_XOrder_Block</class>
            </xorder>
        </blocks>
        <helpers>
            <xorder>
                <class>SM_XOrder_Helper</class>
            </xorder>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <xorder>
                    <file>sm/xorder.xml</file>
                </xorder>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <sm_xorder>SM_XOrder_Adminhtml</sm_xorder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
