<div class="row product-row" >
    <?php foreach ($products as $product): ?>

        <div class="col-sm-6 col-md-3 hero-feature" onclick="addProduct(<?php echo $product['id'] ?>)">
            <a <?php if ($product['type_id'] == 'configurable') {
                echo 'href="javascript:void(0)" list_type="product_to_add" product_id="' . $product['id'] . '"';
            } else {
                echo 'href="#"';
            };
            ?> >
                <div class="thumbnail">
                    <img alt="" src="<?php echo $product['image'] ?>"/>

                    <div class="caption">
                        <h6>
                            <?php echo $product['name'] ?>
                        </h6>
                    </div>
                </div>
            </a>
        </div>
    <?php endforeach ?>
</div>