<li>
    <a href="#" class="cancel-order-btn" onclick="deleteConfirm('Are you sure you want to cancel this order?','<?php echo $this->getCancelUrl() ?>')"><span class="glyphicon glyphicon-trash"></span></a>
</li>
<li>
    <a href="#" class="save-order-btn"><span class="glyphicon glyphicon-check"></span></a>
</li>
<script>
    $j(document).ready(function(){
        $j('.save-order-btn').click(function(){
            $j('.product-panel-swap').toggle();
            $j('.info-panel').toggle();
//            $(order.getAreaId('data')).callback = 'dataLoaded';
//            order.loadArea(['data'], true);
        });
    });
</script>