<ul id="tabs-info" class="nav nav-tabs" data-tabs="tabs-info">
    <li><a href="#order-billing_address" class="active" aria-expanded="true" data-toggle="tab">Billing Address</a></li>
    <li><a href="#order-shipping_address" data-toggle="tab">Shipping Address</a></li>
    <li><a href="#order-billing_method" data-toggle="tab">Payment Method</a></li>
    <li><a href="#order-shipping_method" data-toggle="tab">Shipping Method</a></li>
    <!--    <li><a href="#discount" data-toggle="tab">Discount</a></li>-->
</ul>

<div class="tab-content" id="order-methods">
    <div class="tab-pane active" id="order-billing_address">
        <?php
        echo $this->getChildHtml('billing_address');
        ?>
    </div>
    <div class="tab-pane" id="order-shipping_address">
        <?php
        echo $this->getChildHtml('shipping_address');
        ?>
    </div>
    <div class="tab-pane" id="order-billing_method">
        <?php
        echo $this->getChildHtml('billing_method');
        ?>

    </div>
    <div class="tab-pane" id="order-shipping_method">
        <?php
        echo $this->getChildHtml('shipping_method');
        ?>
    </div>
    <!--    <div class="tab-pane" id="discount">-->
    <!--        <div class="row">-->
    <!--            <form action="" method="post" class="form-inline" role="form">-->
    <!---->
    <!--                <div class="form-group">-->
    <!--                    <label class="" for="">Apply Coupon Code</label>-->
    <!--                    <input type="email" class="form-control" name="" id="" placeholder="Input ...">-->
    <!--                </div>-->
    <!---->
    <!---->
    <!--                <button type="submit" class="btn btn-primary">Apply</button>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
</div>
<script>
    jQuery(document).ready(function ($j) {
        $j('#tabs-info').tab();

    });
</script>