<li id="order-comment">
 <textarea onchange="setComment()" style="width:98%; height:8em;" id="order-comment" name="order[comment][customer_note]" rows="10"
           cols="30"><?php echo $this->getCommentNote() ?></textarea>

</li>