<div class="panel panel-primary">
    <div class="panel-heading">
        <?php echo $this->getChildHtml('header-item') ?>

    </div>
    <div id="order-items_grid" class="panel-body" style="height: 390px">
        <?php echo $this->getChildHtml('items_grid') ?>
    </div>
</div>