<script>
    $j(document).ready(function () {
        $j(".search-product").autocomplete({
            delay: 1000,
            source: function (request, response) {
                jQuery.get("<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/xOrder/searchProduct") ?>", {
                    query: request.term
                }, function (data) {
                    $j('.product-panel').html(data);
                });
            },
        });
    });
</script>

<div class="panel panel-success product-panel-swap" style="overflow: scroll;height: 450px">
    <?php echo $this->getChildHtml('head'); ?>
    <div class="panel-body product-panel">

        <?php echo $this->getChildHtml('grid'); ?>
    </div>
</div>
<div class="panel panel-success info-panel" style="display: none;overflow: scroll;height: 450px">
    <?php echo $this->getChildHtml('info_head'); ?>
    <div class="panel-body">

        <?php echo $this->getChildHtml('info_tabs'); ?>
    </div>
</div>